*.user*
*.pyc
*~
*.swp
doc/

# from https://github.com/jtentor/gitignore/edit/master/CMake.gitignore 2017/01/06
#######################################################################

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

